input {
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
}

button {
    margin: 10px 0;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    margin: 10px 0;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
}

body {
    width: 400px;
    display: flex;
    flex-direction: column;
}