/* You can add global styles to this file, and also import other style files */

input {
    padding: 10px 5px;
    border-radius: 5px;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
}