<div class="widget-button g-widget-button">
    <div class="g-widget-title">BUTTON</div>

    <div class="g-widget-input-title">Id</div>
    <input type="text" class="g-widget-input" [disabled]="isDisabled" [(ngModel)]="item.identifier" />
    <div class="g-widget-input-title">Text</div>
    <input type="text" class="g-widget-input" [disabled]="isDisabled" [(ngModel)]="item.text" />
    <div class="g-widget-input-title">Background Color:</div>
    <input type="text" class="g-widget-input" [disabled]="isDisabled" [(ngModel)]="item.bgColor" />
    <div class="g-widget-input-title">Click</div>
    <input type="text" class="g-widget-input" [disabled]="isDisabled" [(ngModel)]="item.click" />

    <ng-content></ng-content>
</div>